{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}

{% block title %}{{ 'amortissement'|trans }} - GNT Pharma{% endblock %}

{% block finance %}active{% endblock %}

{% block amortissement %}active{% endblock %}

{% block body %}

    <div class="col-lg-11 mt-5 mb-5 fond-7">
        <h3 class="mt-4 text-bold">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            {{ 'Amortissement'|trans }}
        </h3>
        {% for message in app.session.flashbag.get('notice') %}
            <div role="alert" class="alert alert-danger alert-dismissible fade show radius-10 shadow-black mt-5 mb-5">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message|trans }}
            </div>
        {% endfor %}
       

        <div class="card border-green shadow-black mt-5 mb-3 fond-5">
            <div class="card-header bg-success-light bb-success">
                <h5 class="text-success text-bold">
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                     {{ depense.libelle }} | {{"acquis le : "|trans}} {{ depense.date|date('d/m/Y')}}
                </h5>
            </div>
            <div class="card-body">
                <table class="table table-success-light table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="text-center"> {{ 'Annee'|trans }}</th>
                        <th class="text-center"> {{ 'Dotation Mensulle'|trans }}</th>
                        <th class="text-center"> {{ 'Nobre de mois'|trans }}</th>
                        <th>{{ 'Cumul'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set cumul = 0 %}
                    {% set ref = 0 %}
                    {% if yearDiff != 0 %}
                        {% for i in 0 .. yearDiff-1 %}
                            {% set ref = annee + i %}
                            {# {% if ref <= dernierAnnee %} #}
                            
                                {% set cumul = cumul + (dotationMensuelle * 12) %}
                                <tr>
                                    <td>{{ ref }}</td>
                                    <td>{{ dotationMensuelle|number_format(0, ',', ' ') }}</td>
                                    <td>12</td>
                                    <td>{{ cumul|number_format(0, ',', ' ') }}</td>
                                </tr>
                            
                        
                        {% endfor %}
                    {% endif %}
                    {% if yearDiff == 0%}
                           
                            {# {% if ref <= dernierAnnee %} #}
                            
                                {% set cumul = cumul + (dotationMensuelle * 1) %}
                                <tr>
                                    <td>{{ annee }}</td>
                                    <td>{{ dotationMensuelle|number_format(0, ',', ' ') }}</td>
                                    <td>1</td>
                                    <td>{{ cumul|number_format(0, ',', ' ') }}</td>
                                </tr>
                    {% else%}
                        {% if yearDiff < duree %}
                            {% set ref = ref + 1 %}
                            {# {% if ref <= dernierAnnee %} #}
                            
                                {% set cumul = cumul + (dotationMensuelle * monthDiff) %}
                                <tr>
                                    <td>{{ ref }}</td>
                                    <td>{{ dotationMensuelle|number_format(0, ',', ' ') }}</td>
                                    <td>{{monthDiff}}</td>
                                    <td>{{ cumul|number_format(0, ',', ' ') }}</td>
                                </tr>
                       
                        {% endif %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>

{% endblock %}
