{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block produit %}active{% endblock %}
{% block all_produits %}active{% endblock %}

{% block body %}
<div class="col-lg-6 mt-4 p-3 fond-7">
    <h4 class="mt-4 mb-5 text-bold">
        <i class="fa-brands fa-product-hunt me-2"></i>
        {{ "Détails Produit"|trans }}
    </h4>
    {% for message in app.flashes('notice') %}
    <div class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
        <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">
            &times;
        </button>
        {{ message|trans }}
    </div>
    {% endfor %}
    <table class="table table-success-light table-bordered text-center table-hover table-striped">
        <tbody>
            <tr>
                <th class="text-end">{{ 'Code Produit'|trans }}</th>
                <td class="text-start">{{ produit.reference }}</td>
            </tr>
            <tr>
                <th class="text-end">{{ 'Desigantion'|trans }}</th>
                <td class="text-start">{{ produit.desigantion }}</td>
            </tr>
            <tr>
                <th class="text-end">{{ 'Prix grossiste hors taxe'|trans }}</th>
                <td class="text-start">{{ produit.pght }}</td>
            </tr>
            <tr>
                <th class="text-end">{{ 'Prix Cession'|trans }}</th>
                <td class="text-start">{{ produit.prix }}</td>
            </tr>
            <tr>
                <th class="text-end">{{ 'Prix Public'|trans }}</th>
                <td class="text-start">{{ produit.prixpublic }}</td>
            </tr>
            <tr>
                <th class="text-end">{{ 'Commande minimum'|trans }}</th>
                <td class="text-start">{{ produit.mincommande }}</td>
            </tr>
            <tr>
                <th class="text-end">{{ 'Fabricant'|trans }}</th>
                <td class="text-start">{{ produit.fabriquant }}</td>
            </tr>
            <tr>
                <th class="text-end">{{ 'TVA'|trans }}</th>
                <td class="text-start">{{ produit.tva ? 'OUI' : 'NON' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-7 offset-md-3 mt-4 p-3 fond-7">
        <div class="centrer gap-3">
            <a id="{{ produit.id }}" onclick="load({{ produit.id }})" class="btn btn-success-light text-green" href="{{ path('produit_index') }}">
                <i class="fa fa-undo"></i>
                {{ 'Retour'|trans }}
            </a>
            <a class="btn btn-success" href="{{ path('produit_edit', {'id': produit.id}) }}">
                <i class="fa fa-edit"></i> Modifier
            </a>
            {{ include('produit/admin/_delete_form.html.twig') }}
        </div>
    </div>

</div>
<div class="col-lg-6 mt-4 mb-5 p-3 fond-7">
    <h4 class="mt-4 mb-5 text-bold">
        <i class="fa-brands fa-product-hunt me-2"></i>
        {{ "Fournisseurs ayant ce produit"|trans }}
    </h4>
    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>{{'Désignation'|trans }}</th>
                <th>{{'Adresse'|trans }}</th>
                <th>{{'Email'|trans }}</th>
                <th>{{'Pays'|trans }}</th>
                <th>{{'Téléphone'|trans }}</th>
                <th>{{'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for fournisseur in produit.fournisseurs %}
            <tr>
                <td data-label="Désignation">{{ fournisseur.designation }}</td>
                <td data-label="Adresse">{{ fournisseur.adresse }}</td>
                <td data-label="Email">{{ fournisseur.email }}</td>
                <td data-label="Pays">{{ fournisseur.pays }}</td>
                <td data-label="Téléphone">{{ fournisseur.telephone }}</td>
                <td data-label="Actions" class="text-center">
                    <a id="{{ fournisseur.id }}" onclick="load({{ fournisseur.id }})" href="{{ path('fournisseur_show', {'id': fournisseur.id}) }}" title="{{'Voir'|trans}}" class="btn btn-success">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="text-center">Aucun fournisseur</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}