{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block commande %}active{% endblock %}
{% block suivi %}active{% endblock %}

{% block body %}
    <div class="container mt-4 fond-7">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-shopping-cart me-2"></i>
            {{ "Suivi des commandes"|trans }}
        </h3>
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    {{ 'Validation paiement'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_validation_credit') }}">
                    {{'Validation crédit'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_credit') }}">
                    {{'Commandes à crédit'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('commande_panier_history') }}">
                    {{'Commandes déjà payées'|trans}}
                </a>
            </li>
        </ul>

        <table class="table table-success-light table-bordered table-hover table-striped w-100 my-4 text-center" id="liste">
            <thead>
            <tr>
                <th class="text-center">{{'Numero'|trans}}<br>{{'Commande'|trans}}</th>
                <th class="text-center">{{ 'Date'|trans }}</th>
                <th class="text-start">{{ 'Client'|trans }} </th>
                <th class="text-center">{{ 'Telephone'|trans }} </th>
                <th class="text-end">{{ 'Montant'|trans }}</th>
                <th class="text-center">{{ 'Validation'|trans }} </th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td data-label="{{'Numero'|trans}}">{{ commande.id }}</td>
                    <td data-label="{{ 'Date'|trans }}">{{ commande.date|date('d/m/Y') }}</td>
                    <td data-label="{{ 'Client'|trans }} " class="text-start">{{ commande.user.nom }} {{ commande.user.prenom }}</td>
                    <td data-label="{{ 'Telephone'|trans }} ">{{ commande.user.phone }}</td>
                    <td data-label="{{ 'Montant'|trans }}" class="text-end">{{ commande.montant|number_format(2, ',' , ' ') }}</td>
                    <td data-label="{{ 'Validation'|trans }} ">
                        <a id="{{ commande.id }}" onclick="load({{ commande.id }})" href="{{ path('commande_panier_paiement', {'commande' : commande.id}) }}" class="btn btn-success">
                            <i class="fa-solid fa-file-invoice-dollar"></i>
                            {{ 'Traitement'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
