{% extends 'layout.html.twig' %}
{% block start %} onkeyup="entrer()" {% endblock %}
{% block body %}
<div class="container-fluid fond">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message|trans }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message|trans }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="row">
        <div class="row">
            <div class="col-md-4 pt-3 pb-2 mb-3 fond-btn">
                <div class="text-center">
                    {#                <div class="row">#}
                    <button type="button" class="btn btn-success mb-3 mr-3 {#{% if  commande|length == 0 %}disabled{% endif %}#}" id="valider"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="finalisation_vente()">Valider</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            

            <div class="fond">
                <h3 class="mt-4 mb-5 text-bold">
                    <i class="fab fa-product-hunt mr-2"></i>
                    {{ "Produits disponibles"|trans }}
                </h3>

                <table class="table table-success-light table-bordered table-hover table-striped text-center" id="liste">
                    <thead>
                    <tr>
                        <th class="text-start">{{ 'Désignation'|trans }}</th>
                       <th class="text-start">{{ 'Emplacement'|trans }}</th>
                        <th>{{ 'Prix'|trans }}</th>
                        <th>{{ 'Stock'|trans }}</th>
                        <th>{{ 'Quantite'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                        <tr>
                            <td class="text-start">{{ produit.designation }}</td>
                           <td class="text-start">{{ produit.emplacement ? produit.emplacement.nom : ''}}</td>
                            <td>{{ produit.Prix }}</td>
                            <td>{{ produit.stock }}</td>
                            <td id="td{{ produit.id }}">
                                <input type:"number" id="text{{ produit.id }}" class="form-control" onfocus="focu({{ produit.id }},{{ produit.stock }})" onblur="nofocu()" style="width:100px" {% if produit.stock == 0 %} disabled {% endif %}>
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type:"button" id="btn{{ produit.id }}" class="btn btn-primary" onclick="ajouter_vente({{ produit.id }},{{ produit.stock }})">
                                    +
                                </button>
                                {#            <button type:"button" id="btn{{ produit.id }}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ produit.id }}">#}
                                {#                                    +#}
                                {#                                </button>#}

                                <!-- Modal -->
                                {#                                <div class="modal fade" id="{{ produit.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
                                {#                                    <div class="modal-dialog">#}
                                {#                                        <div class="modal-content">#}
                                {#                                            <div class="modal-header">#}
                                {#                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ produit.designation }}</h1>#}
                                {#                                                <button type:"button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
                                {#                                            </div>#}
                                {#                                            <div class="modal-body">#}

                                {#                                                <input type:'number' id="text{{ produit.id }}" placeholder="{{ 'Renseignez la Quantite'|trans }}" class='form-control mt-4'>#}
                                {#                                            </div>#}
                                {#                                            <div class="modal-footer">#}
                                {#                                                <button type:"button" class="btn btn-secondary" data-bs-dismiss="modal" id='annuler{{ produit.id }}'>Close</button>#}
                                {#                                                <button type:"button"  id='sub{{ produit.id }}' class="btn btn-primary" onclick='ajouter_vente({{ produit.id }})'>{{ 'Ajouter'|trans }}</button>#}

                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </td>
                        </tr>
                    {% else %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            {{ form_start(form, {'attr' : {'id' : 'form'}}) }}

            <div class="fond mb-4 text-end">
                <h3 class="mt-4 mb-5 text-bold text-start">
                    <i class="fa fa-money-bill mr-2"></i>
                    {{ "Produits"|trans }}
                </h3>
                <table class="table table-success-light table-bordered table-hover table-striped text-center">
                    <thead>
                    <tr>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Total</th>
                        <th>Sup.</th>
                    </tr>
                    </thead>
                    <tbody id="commander">

                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3">Total</th>
                        <th id="total" colspan="2">0</th>
                        <input type="hidden" id="valeurtotal" value="0" />
                    </tr>
                    </tfoot>
                </table>

            </div>
            <div class="fond mb-4">
                <h3 class="mt-2 mb-2 text-bold text-start">
                    <i class="fa fa-user-doctor mr-2"></i>
                    {{ "Couverture Maladie"|trans }}
                </h3>
                {{ form_row(form.mutuel) }}
                {{ form_row(form.service) }}

            </div>

            

            <div class="fond mt-4">
                <h3 class="mt-2 mb-2 text-bold text-start">
                    <i class="fa fa-user-doctor mr-2"></i>
                    {{ "Medecin prescripteur"|trans }}
                </h3>
                {{ form_row(form.medecin) }}
                {{ form_end(form) }}
            </div>
            

            {# <div class="col-md-4 pt-3 mt-4 fond-btn">
                <div class="text-center">
                    <button type="button" onclick="load_btn('valider')" class="btn btn-success mb-3 mr-3 {% if  commande|length == 0 %}disabled{% endif %}" id="valider" >Valider</button>
                </div>
            </div> #}
        </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{"Finalisation de la vente"|trans}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="w-100 fw-bold">
        <tr><td class="text-right" style="width: 15%;">Total</td><td style="width: 15%;"  id="totalvente"></td><td class="text-center" colspan="2" style="width: 70%;"><h5>Calcul de la monnaie</h5></td></tr>
        <tr><td class="text-right" style="width: 15%;">Assurance</td><td style="width: 15%;"  id="assurance">0</td><td style="width: 20%;">Montant recu</td><td style="width: 50%;"><input type="number" id="recu" onkeyup="rendre()" class="form-control"/></td></tr>
        <tr><td class="text-right" style="width: 15%;">Net a payer</td><td style="width: 15%;"><h5 id="payer"></h5></td><td style="width: 20%;">Montant a rendre</td><td style="width: 50%;"><h5 id="rendre"></h5></tr>
        <input type="hidden" id="netapayer" value="0"/>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"Annuler"|trans}}</button>
        <button type="button" class="btn btn-primary" onclick="valider()">{{"Enregistrer"|trans}}</button>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}
{% block scripts %}
    <script>

$(document).on('change', '#vente_mutuel', function(){
    let $form = $(this).closest('form');
// Simulate form data, but only include the selected value.
let data = {};
data[$(this).attr('name')] = $(this).val();
//alert($(this).val())
// Submit data via AJAX to the form's action path.
$.post($form.attr('action'), data).then(function (data){
    let $input = $(data).find('#vente_service')
    $('#vente_service').replaceWith($input)
})

})

function valider() {
        if( ($('#vente_mutuel option:selected').val() != "" && $('#vente_service option:selected').val() != "")
            ||( $('#vente_mutuel option:selected').val() == "" && $('#vente_service option:selected').val() == "")) 
        {
            if ($('#valeurtotal').val() != 0){
                    $("#valider").html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>");
                    $('#form').submit();
            }
          
        }else{
            alert("{{'Renseigne le type de couverture medecale'|trans}}");
        }
    }
    function rendre(){
         $('#rendre').html($('#recu').val() - $('#netapayer').val())
    }
    function finalisation_vente(){
        $('#totalvente').html($('#valeurtotal').val())
        $("#netapayer").val($('#valeurtotal').val())
        $('#payer').html($('#valeurtotal').val())
        $('#recu').val("")
        $('#rendre').html("")
        $('#assurance').html("0")
        if($('#vente_mutuel option:selected').val() != "" && $('#vente_service option:selected').val() != ""){
             $("#assurance").html("<i class='fa-solid fa-spinner fa-spin-pulse fa-lg'></i>")
             $.ajax({
                    type: "POST",
                    url: "{{ path('assurance') }}",
                    data: { mutuel : $('#vente_mutuel option:selected').val(), service: $('#vente_service option:selected').val() },
                    success: function (data) {
                        if (data['id'] != "") {
                            var valeur = Number($('#valeurtotal').val()) * Number(data['id']) / 100;
                            $("#assurance").html("-"+valeur);
                            $("#assurancetamp").val(valeur)
                            $("#payer").html(Number($('#valeurtotal').val())-valeur)
                            $("#netapayer").val(Number($('#valeurtotal').val())-valeur)
                            
                        }
                    },
                    error: function () {
                        alert("{{ 'La requête n’a pas abouti'|trans }}");
                    }
                });
                {# alert($('#vente_mutuel option:selected').val()+ "--" + $('#vente_service option:selected').val()) #}
        }

    }
    </script>
{% endblock %}