{% extends 'layout.html.twig' %}
{% block body %}
    <h1>Mutuel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mutuel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ mutuel.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ mutuel.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ mutuel.telephone }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{path('service_new', {'mutuel' : mutuel.id})}}" class="btn btn-success"> Nouveau Service</a>
    listes des services
    <table class="table table-hover">
    <head>
    <tr>
        <th>Nom</th>
         <th>Avantage</th>
         </tr>
    </head>
        <tbody>
        {% for service in mutuel.services %}
            <tr>
               
                <td>{{ service.nom }}</td>
            
                
                <td>{{ service.type }} %</td>
            </tr>
            {% else %}
            {% endfor %}
        </tbody>
    </table>
     <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('mutuel_show', {'id' : mutuel.id}) }}">
                    {{ 'Facture non payées'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    {{ 'Facture déja payées'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('mutuel_vente', {'id' : mutuel.id}) }}">
                    {{ 'Vente du mois en cours'|trans }}
                </a>
            </li>
        </ul>

    <table class="table table-hover">
    <head>
    <tr>
        <th>Date</th>
        <th>Numero</th>
        <th>Montant</th>
    </tr>
    </head>
        <tbody>
        {% for facture in factures %}
            <tr>
               
                <td>{{ facture.date|date('d/m/Y') }}</td>
                <td>{{ facture.nuemro }}</td>
                <td>{{ facture.montant|number_format(2, ',' , ' ') }}</td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mutuel_index') }}">back to list</a>

    <a href="{{ path('mutuel_edit', {'id': mutuel.id}) }}">edit</a>
{% endblock %}
