{% extends 'layout.html.twig' %}
{% block body %}
 <div class="col-lg-8 mt-4 fond p-3">
    <h4 class="mb-5 text-bold">
        <i class="fa-solid fa-house-medical-flag fa-lg"></i> 
            {{ 'Liste des Assureurs'|trans }}
    </h4>
    <a class="btn btn-success" href="{{ path('mutuel_new') }}"><i class="fa fa-plus"></i><i class="fa-solid fa-house-medical-flag"></i>   Nouvel Assureur</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mutuel in mutuels %}
            <tr>
                <td>{{ mutuel.nom }}</td>
                <td>{{ mutuel.adresse }}</td>
                <td>{{ mutuel.telephone }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('mutuel_show', {'id': mutuel.id}) }}"><i class="fa fa-eye"></i> Details</a>
                    <a class="btn btn-success"  href="{{ path('mutuel_edit', {'id': mutuel.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    
{% endblock %}
