{% extends 'layout.html.twig' %}
{% block body %}
    <div class="col-lg-12 mt-4 fond p-3">
    <h4 class="mb-5 text-bold">
        <i class="fa-solid fa-house-medical-flag fa-lg"></i> 
            {{ 'Infos Assureur'|trans }}
    </h4>
     <a class="btn btn-success" href="{{ path('mutuel_index') }}"><i class="fa fa-arrow-left"></i> Retour</a> 
     {{ include('mutuel/_delete_form.html.twig') }}
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mutuel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ mutuel.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ mutuel.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ mutuel.telephone }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{path('service_new', {'mutuel' : mutuel.id})}}" class="btn btn-success"><i class="fa fa-plus"></i> Nouveau Service</a>
    listes des services
    <table class="table table-hover">
    <head>
    <tr>
        <th>Nom</th>
         <th>Avantage</th>
         </tr>
    </head>
        <tbody>
        {% for service in mutuel.services %}
            <tr>
               
                <td>{{ service.nom }}</td>
            
                
                <td>{{ service.type }} %</td>
            </tr>
            {% else %}
            {% endfor %}
        </tbody>
    </table>
     <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('mutuel_show', {'id' : mutuel.id}) }}">
                    {{ 'Facture non payées'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('mutuel_payer', {'id' : mutuel.id}) }}">
                    {{ 'Facture déja payées'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    {{ 'Vente du mois en cours'|trans }}
                </a>
            </li>
        </ul>

     <table class="table table-hover">
    <head>
    <tr>
        <th>Date</th>
        <th>Nom</th>
        <th>Numero</th>
        <th>Service</th>
         <th>Montant</th>
         <th>Couverture</th>
         </tr>
    </head>
        <tbody>
        {% set  montant = 0 %}
        {% for vente in ventes %}
            <tr>
               
                <td>{{ vente.date|date('d/m/Y') }}</td>
                <td>{{ vente.service.nom }}</td>
                <td>{{ vente.service.nom }}</td>
                <td>{{ vente.service.nom }}</td>
           
                
                <td>{{ vente.montant|number_format(2, ',' , ' ') }}</td>
                <td>{{ vente.couverture|number_format(2, ',' , ' ')  }}</td>
                {% set montant = montant + vente.couverture %}
            </tr>
            {% else %}
            {% endfor %}
             <tr>
               
                <td></td>
                <td></td>
                <td></td>
                <td></td>
           
                
                <td>{{ "Total"|trans }}</td>
                <td>{{ montant|number_format(2, ',' , ' ')  }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
