{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig' %}
{% block title %} {{ "Tous les employes"|trans }} - GNT Pharma {% endblock %}
{% block administration %}active{% endblock %}
{% block employe %}active{% endblock %}
{% block all_employe %}active{% endblock %}
{% block body %}
    <div class="container-fluid mt-4 fond-7 mb-5">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa fa-users me-2"></i>
            {{ "Tous les employes"|trans }}
        </h3>
        {% for message in app.flashes('notice') %}
            <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black mb-5">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message|trans }}
            </div>
        {% endfor %}
        {% if is_granted('ROLE_RH') %}
            <a href="{{ path('employe_new') }}" class="btn btn-green mb-4">
                <i class="fa fa-plus"></i>
                {{ "Ajouter employé"|trans }}
            </a>
        {% endif %}
        <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
            <tr>
                <th>{{ 'Matricule'|trans }}</th>
                <th>{{ 'Nom'|trans }}</th>
                <th>{{ 'Prénom'|trans }}</th>
                <th class="text-center">{{ 'Age'|trans }}</th>
                <th class="text-center">{{ 'Sexe'|trans }}</th>
                <th>{{ 'Téléphone'|trans }}</th>
                <th>{{ 'Adresse'|trans }}</th>
                <th>{{ 'Poste'|trans }}</th>
                <th>{{ 'Département'|trans }}</th>
                <th class="text-center noExport">{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for employe in employes %}
                <tr>
                <td data-label="{{ 'Matricule'|trans }}">
                    {{ employe.matricule }}
                </td>
                <td data-label="{{ 'Nom'|trans }}">
                    {{ employe.nom }}
                </td>
                <td data-label="{{ 'Prénom'|trans }}">
                    {{ employe.prenom }}
                </td>
                <td data-label="{{ 'Age'|trans }}" class="text-nowrap">
                    {{ 'now'|date('Y') - employe.dateNaissance|date('Y') }}
                    {{ "ans"|trans }}
                </td>
                <td data-label="{{ 'Sexe'|trans }}" class="text-center">
                    {{ employe.sexe }}
                </td>
                <td data-label="{{ 'Téléphone'|trans }}">
                    {{ employe.phone }}
                </td>
                <td data-label="{{ 'Adresse'|trans }}">
                    {{ employe.adresse }}
                </td>
                <td data-label="{{ 'Poste'|trans }}">
                    {{ employe.poste ? employe.poste.nom: '' }}
                </td>
                <td data-label="{{ 'Département'|trans }}">
                    {{ employe.poste ? employe.poste.departement.nom: '' }}
                </td>
                <td data-label="{{ 'Action'|trans }}" class="text-center noExport">
                    <a href="{{ path('employe_show', {'id': employe.id}) }}" class="btn btn-green mb-1 me-2"
                       title="{{ "Voir"|trans }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('employe_edit', {'id': employe.id}) }}" class="btn btn-success-light mb-1"
                       title="{{ "Modifier"|trans }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            {% else %}
                <tr>
                    <td class="text-center" colspan="10">{{ 'Aucun employé enregistré'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="container-fluid mt-4 fond-7 mb-5 p-3">
        <div class="centrer gap-3">
            <button id="exportExcel" class="btn btn-green">
                <i class="fa fa-file-excel"></i> Exporter Excel
            </button>
            <button id="exportPdf" class="btn btn-danger">
                <i class="fa fa-file-pdf"></i> Exporter PDF
            </button>
            <a href="#" class="btn btn-success-light me-2">
                <i class="fa fa-print"></i> Imprimer
            </a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>


        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered">
            <div class="modal-content">
{#                <div class="modal-header">#}
{#                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>#}
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{#                </div>#}
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}