{% extends 'layout.html.twig' %}
{% block body %}
    <h1>Mutuel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mutuel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ mutuel.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ mutuel.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ mutuel.telephone }}</td>
            </tr>
        </tbody>
    </table>
    
     <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    {{ 'Facture non payées'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('mutuel_payer', {'id' : mutuel.id}) }}">
                    {{ 'Facture déja payées'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('mutuel_vente', {'id' : mutuel.id}) }}">
                    {{ 'Vente du mois en cours'|trans }}
                </a>
            </li>
        </ul>


        <h5> details facture n: {{ facture.id }} </h5>

     <table class="table table-hover">
    <head>
    <tr>
        <th>Date</th>
        <th>Nom</th>
        <th>Numero</th>
        <th>Service</th>
         <th>Montant</th>
         <th>Couverture</th>
         </tr>
    </head>
        <tbody>
        {% set  montant = 0 %}
        {% for vente in facture.ventes %}
            <tr>
               
                <td>{{ vente.date|date('d/m/Y') }}</td>
                <td>{{ vente.service.nom }}</td>
                <td>{{ vente.service.nom }}</td>
                <td>{{ vente.service.nom }}</td>
           
                
                <td>{{ vente.montant|number_format(2, ',' , ' ') }}</td>
                <td>{{ vente.couverture|number_format(2, ',' , ' ')  }}</td>
                {% set montant = montant + vente.couverture %}
            </tr>
            {% else %}
            {% endfor %}
             <tr>
               
                <td></td>
                <td></td>
                <td></td>
                <td></td>
           
                
                <td>{{ "Total"|trans }}</td>
                <td>{{ montant|number_format(2, ',' , ' ')  }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mutuel_index') }}">back to list</a>

    <a href="{{ path('mutuel_edit', {'id': mutuel.id}) }}">edit</a>
{% endblock %}
